.pages {
  min-width: 320px;
  max-width: 960px;
  margin: 0 auto;

  color: var(--text-color-main);
  font-family: "Inter", Arial, Helvetica, sans-serif;

  background-color: var(--bac-main-color);
}